@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap");


/* GENERAL */

/* Palette de couleurs: */
:root {
  /* couleur fond navbar: */
  --color1: #33BDFF;
  /* Fond du body: */
  --color2: #EEEEEE;
  /* Fond section overcome */
  --color3: #B8E0F2;
  /* popup */
  --color4: #206199;
  --color5: #1A5080;
  --color6: #2C516F;
  /* couleur de font: */
  --color7: #121417;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

html {
  scroll-behavior: smooth; /* Effet scroll doux: */
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color6);
}

p {
  font-size: 1rem;
  text-align: justify;
  color: var(--color7);
}

p::first-letter {
  color: var(--color1);
  font-weight: bold;
  font-size: 1.5rem;
}


body {
  min-height: 100vh;
  background: var(--color2);
  color: var(--color7);
  position: relative;
}

h1 {
  font-size: 2rem;
  padding: 0px 0px 20px 20px;
}

/* Menu de navigation */
header {
  background: var(--color1);
}

.nav-container {
  padding: 0% 15%;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  min-height: 10vh;
  box-shadow: -1px 2px 3px #2e74b2bf;
}

nav h3 {
  font-size: 1.4rem;
}

nav ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-items: end;
  font-size: 1.2rem;
  /* grid-column-gap: 72px; */
}

main {
  padding: 0% 15%;
}

/* Sections "Adapt" et "Improvise" */

.adapt {
  padding-top: 60px;
}

.adapt,
.improvise {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-items: center;
}

.adapt-left,
.adapt-right {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.adapt-left {
  padding-right: 40px;
}

#B {
  width: 100%;
  align-self: center;
  justify-self: center;
}

/* secteion "Improvise" */

.improvise {
  padding-top: 50px;
}

.improvise-left,
.improvise-right {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.improvise-right {
  padding: 40px 0px 0px 100px;
}

#nakamoto {
  width: 100%;
  align-self: center;
  justify-self: center;
}


/* Section "overcome" */

.Overcome {
  display: grid;
  grid-template-columns: 1fr;
  background: var(--color3);
  border-radius: 5px;
  margin-top: 70px;
  padding: 40px;
}

.overcome-down {
  display: grid;
  align-self: center;
  justify-self: center;
}

#financial_data {
  padding-top: 20px;
  width: 100%;
  align-self: center;
  justify-self: center;
}


/* Popup */

.popup {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: stretch;
  width: 600px;
  height: 300px;
  background: var(--color4);
  position: absolute;
  right: 2%;
  bottom: 2%;
  padding: 20px 20px;
  color: var(--color2);
  border-radius: 71% 29% 87% 13% / 22% 78% 22% 78%;
  background: rgb(29,52,71);
  background: linear-gradient(108deg, rgb(39, 73, 101) 0%, rgb(44, 113, 174) 54%, rgb(42, 139, 224) 100%);
  box-shadow: -3px 3px 9px 3px #0b0b0c;
}

.popup-container {
  position: relative;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  /* padding: 20px; */
}

/* icone croix */

.fa-circle-xmark {
  position: absolute;
  left: 1rem;
  top: 0.6rem;
  font-size: 1.7rem;
  color: white;
  text-shadow: 2px 2px 0px #333;
  cursor: pointer;
  transition: 0.3s;
  }

/* Formulaire popup */

.popup-container h4 {
  text-align: center;
  font-size: 1.8rem;
}

.popup form {  
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0px 20px; 
  gap:5px;
 }

input {
  cursor: pointer;
  border: 1px solid var(--color4);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background: white;
  font-size: 1.2rem;
  height: 55px;
  box-shadow: 2px 3px 2px 0px #0a0a0a;
    /* user-select: none; */
}

#email {
  width: 100%;
}

#submit {
width: 100%;
}


